<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jwmap.mapper.JwPopulationHeatMapper">

    <resultMap type="com.ruoyi.jwmap.domain.JwPopulationHeat" id="JwPopulationHeatResult">
        <id property="heatId" column="heat_id"/>
        <result property="gridCode" column="grid_code"/>
        <result property="indicatorCode" column="indicator_code"/>
        <result property="indicatorValue" column="indicator_value"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectJwPopulationHeatVo">
        SELECT heat_id, grid_code, indicator_code, indicator_value,
               create_time
        FROM jw_population_heat
    </sql>

    <select id="selectJwPopulationHeatList" parameterType="com.ruoyi.jwmap.domain.JwPopulationHeat" resultMap="JwPopulationHeatResult">
        <include refid="selectJwPopulationHeatVo"/>
        <where>
            <if test="gridCode != null and gridCode != ''">
                AND grid_code = #{gridCode}
            </if>
            <if test="indicatorCode != null and indicatorCode != ''">
                AND indicator_code = #{indicatorCode}
            </if>
        </where>
        ORDER BY heat_id
    </select>

    <select id="selectJwPopulationHeatById" parameterType="Long" resultMap="JwPopulationHeatResult">
        <include refid="selectJwPopulationHeatVo"/>
        WHERE heat_id = #{heatId}
    </select>

    <select id="selectByGridCode" parameterType="String" resultMap="JwPopulationHeatResult">
        <include refid="selectJwPopulationHeatVo"/>
        WHERE grid_code = #{gridCode}
    </select>

    <select id="selectByGridCodes" resultMap="JwPopulationHeatResult">
        <include refid="selectJwPopulationHeatVo"/>
        WHERE grid_code IN
        <foreach collection="gridCodes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>

    <select id="selectByGridAndIndicator" resultMap="JwPopulationHeatResult">
        <include refid="selectJwPopulationHeatVo"/>
        WHERE grid_code = #{gridCode} AND indicator_code = #{indicatorCode}
    </select>

    <select id="selectDistinctGridCodes" resultType="String">
        SELECT DISTINCT grid_code FROM jw_population_heat
    </select>

    <select id="selectDistinctGridCodesByCity" resultType="String">
        SELECT DISTINCT h.grid_code
        FROM jw_population_heat h
        JOIN jw_grid_meta m ON h.grid_code = m.grid_code
        WHERE m.city = #{city}
    </select>

    <select id="selectDistinctCities" resultType="String">
        SELECT DISTINCT m.city
        FROM jw_population_heat h
        JOIN jw_grid_meta m ON h.grid_code = m.grid_code
        ORDER BY m.city
    </select>

    <insert id="insertJwPopulationHeat" parameterType="com.ruoyi.jwmap.domain.JwPopulationHeat" useGeneratedKeys="true" keyProperty="heatId">
        INSERT INTO jw_population_heat (
            grid_code, indicator_code, indicator_value, create_time
        ) VALUES (
            #{gridCode}, #{indicatorCode}, #{indicatorValue}, now()
        )
    </insert>

    <update id="updateJwPopulationHeat" parameterType="com.ruoyi.jwmap.domain.JwPopulationHeat">
        UPDATE jw_population_heat
        <set>
            <if test="gridCode != null">grid_code = #{gridCode},</if>
            <if test="indicatorCode != null">indicator_code = #{indicatorCode},</if>
            <if test="indicatorValue != null">indicator_value = #{indicatorValue}</if>
        </set>
        WHERE heat_id = #{heatId}
    </update>

    <delete id="deleteJwPopulationHeatById" parameterType="Long">
        DELETE FROM jw_population_heat WHERE heat_id = #{heatId}
    </delete>

    <delete id="deleteJwPopulationHeatByIds" parameterType="Long">
        DELETE FROM jw_population_heat WHERE heat_id IN
        <foreach item="heatId" collection="array" open="(" separator="," close=")">
            #{heatId}
        </foreach>
    </delete>

    <delete id="deleteByGridCode" parameterType="String">
        DELETE FROM jw_population_heat WHERE grid_code = #{gridCode}
    </delete>

    <delete id="deleteByCity" parameterType="String">
        DELETE FROM jw_population_heat
        WHERE grid_code IN (SELECT grid_code FROM jw_grid_meta WHERE city = #{city})
    </delete>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO jw_population_heat (
            grid_code, indicator_code, indicator_value, create_time
        ) VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.gridCode}, #{item.indicatorCode}, #{item.indicatorValue}, now())
        </foreach>
    </insert>

    <delete id="deleteByIndicatorCode">DELETE FROM jw_population_heat WHERE indicator_code = #{indicatorCode}</delete>
    <update id="updateIndicatorCode">UPDATE jw_population_heat SET indicator_code = #{newCode} WHERE indicator_code = #{oldCode}</update>

</mapper>
