<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jwmap.mapper.JwIndicatorConfigMapper">

    <resultMap type="com.ruoyi.jwmap.domain.JwIndicatorConfig" id="JwIndicatorConfigResult">
        <id property="indicatorId" column="indicator_id"/>
        <result property="indicatorCode" column="indicator_code"/>
        <result property="indicatorName" column="indicator_name"/>
        <result property="indicatorType" column="indicator_type"/>
        <result property="parentCode" column="parent_code"/>
        <result property="isDerived" column="is_derived"/>
        <result property="computationPattern" column="computation_pattern"/>
        <result property="inputCodes" column="input_codes"/>
        <result property="calculationWeight" column="calculation_weight"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectJwIndicatorConfigVo">
        SELECT indicator_id, indicator_code, indicator_name, indicator_type,
               parent_code, is_derived, computation_pattern, input_codes,
               calculation_weight, sort_order, create_time, update_time
        FROM jw_indicator_config
    </sql>

    <select id="selectJwIndicatorConfigList" parameterType="com.ruoyi.jwmap.domain.JwIndicatorConfig" resultMap="JwIndicatorConfigResult">
        <include refid="selectJwIndicatorConfigVo"/>
        <where>
            <if test="indicatorCode != null and indicatorCode != ''">
                AND indicator_code LIKE '%' || #{indicatorCode} || '%'
            </if>
            <if test="indicatorName != null and indicatorName != ''">
                AND indicator_name LIKE '%' || #{indicatorName} || '%'
            </if>
            <if test="indicatorType != null and indicatorType != ''">
                AND indicator_type = #{indicatorType}
            </if>
            <if test="parentCode != null and parentCode != ''">
                AND parent_code = #{parentCode}
            </if>
        </where>
        ORDER BY indicator_type, sort_order, indicator_id
    </select>

    <select id="selectJwIndicatorConfigById" parameterType="Long" resultMap="JwIndicatorConfigResult">
        <include refid="selectJwIndicatorConfigVo"/>
        WHERE indicator_id = #{indicatorId}
    </select>

    <select id="selectByType" resultMap="JwIndicatorConfigResult">
        <include refid="selectJwIndicatorConfigVo"/>
        WHERE indicator_type = #{indicatorType}
        ORDER BY sort_order, indicator_id
    </select>

    <select id="selectByTypes" resultMap="JwIndicatorConfigResult">
        <include refid="selectJwIndicatorConfigVo"/>
        WHERE indicator_type IN
        <foreach item="type" collection="types" open="(" separator="," close=")">
            #{type}
        </foreach>
        ORDER BY sort_order, indicator_id
    </select>

    <select id="selectLeavesByType" resultMap="JwIndicatorConfigResult">
        SELECT t.* FROM jw_indicator_config t
        WHERE t.indicator_type = #{indicatorType}
          AND NOT EXISTS (
              SELECT 1 FROM jw_indicator_config c
              WHERE c.parent_code = t.indicator_code
          )
        ORDER BY t.sort_order, t.indicator_id
    </select>

    <select id="selectByParent" resultMap="JwIndicatorConfigResult">
        <include refid="selectJwIndicatorConfigVo"/>
        WHERE parent_code = #{parentCode}
        ORDER BY sort_order, indicator_id
    </select>

    <select id="selectRoots" resultMap="JwIndicatorConfigResult">
        <include refid="selectJwIndicatorConfigVo"/>
        WHERE parent_code IS NULL
        <if test="indicatorType != null and indicatorType != ''">
            AND indicator_type = #{indicatorType}
        </if>
        ORDER BY sort_order, indicator_id
    </select>

    <select id="selectByCode" resultMap="JwIndicatorConfigResult">
        <include refid="selectJwIndicatorConfigVo"/>
        WHERE indicator_code = #{indicatorCode}
    </select>

    <select id="selectByIndicatorName" resultMap="JwIndicatorConfigResult">
        <include refid="selectJwIndicatorConfigVo"/>
        WHERE indicator_name = #{indicatorName}
    </select>

    <select id="selectByCodes" resultMap="JwIndicatorConfigResult">
        <include refid="selectJwIndicatorConfigVo"/>
        WHERE indicator_code IN
        <foreach item="code" collection="list" open="(" separator="," close=")">
            #{code}
        </foreach>
        ORDER BY sort_order
    </select>

    <insert id="insertIndicatorConfig" parameterType="com.ruoyi.jwmap.domain.JwIndicatorConfig" useGeneratedKeys="true" keyProperty="indicatorId">
        INSERT INTO jw_indicator_config (
            indicator_code, indicator_name, indicator_type,
            parent_code, is_derived, computation_pattern, input_codes,
            calculation_weight, sort_order, create_time, update_time
        ) VALUES (
            #{indicatorCode}, #{indicatorName}, #{indicatorType},
            #{parentCode}, #{isDerived}, #{computationPattern}, #{inputCodes},
            #{calculationWeight}, #{sortOrder}, now(), now()
        )
    </insert>

    <update id="updateJwIndicatorConfig" parameterType="com.ruoyi.jwmap.domain.JwIndicatorConfig">
        UPDATE jw_indicator_config
        <set>
            <if test="indicatorCode != null">indicator_code = #{indicatorCode},</if>
            <if test="indicatorName != null">indicator_name = #{indicatorName},</if>
            <if test="indicatorType != null">indicator_type = #{indicatorType},</if>
            <if test="parentCode != null">parent_code = #{parentCode},</if>
            <if test="isDerived != null">is_derived = #{isDerived},</if>
            <if test="computationPattern != null">computation_pattern = #{computationPattern},</if>
            <if test="inputCodes != null">input_codes = #{inputCodes},</if>
            <if test="calculationWeight != null">calculation_weight = #{calculationWeight},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            update_time = now()
        </set>
        WHERE indicator_id = #{indicatorId}
    </update>

    <delete id="deleteJwIndicatorConfigById" parameterType="Long">
        DELETE FROM jw_indicator_config WHERE indicator_id = #{indicatorId}
    </delete>

    <delete id="deleteJwIndicatorConfigByIds" parameterType="Long">
        DELETE FROM jw_indicator_config WHERE indicator_id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByParentCode">
        DELETE FROM jw_indicator_config WHERE parent_code = #{parentCode}
    </delete>

    <delete id="deleteByCode">
        DELETE FROM jw_indicator_config WHERE indicator_code = #{indicatorCode}
    </delete>

    <update id="updateParentCode">
        UPDATE jw_indicator_config SET parent_code = #{newCode}
        WHERE parent_code = #{oldCode}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO jw_indicator_config (
            indicator_code, indicator_name, indicator_type,
            parent_code, is_derived, computation_pattern, input_codes,
            calculation_weight, sort_order, create_time, update_time
        ) VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.indicatorCode}, #{item.indicatorName}, #{item.indicatorType},
             #{item.parentCode}, #{item.isDerived}, #{item.computationPattern}, #{item.inputCodes},
             #{item.calculationWeight}, #{item.sortOrder}, now(), now())
        </foreach>
    </insert>

</mapper>
